/:
    body: (?:)
    headers:
        key: U(?:ser-Agent|pgrade-Insecure-Requests)|Sec-Fetch-(?:User|Dest|(?:Sit|Mod)e)|Connection|Accept-(?:Language|Encoding)|(?:Accept)?
        value: (?:Mozilla/5(?-s:.)0 (Windows NT 10(?-s:.)0; Win64; x64; rv:109(?-s:.)0) Gecko/20100101 Firefox/114(?-s:.)0)?
    method: (?:GET)?
    description: ""
    meta: ""
/digest-auth/as/cd/1e:
    body: (?:)
    headers:
        key: Accept-Encoding|(?:Accep|User-Agen)t|Sec-Fetch-(?:(?:Sit|Mod)e|Dest)|Connection|Referer|(?:Accept-Language)?
        value: gzip, deflate, br|(?:application/jso|same-origi)n|empty|Mozilla/5(?-s:.)0 (Windows NT 10(?-s:.)0; Win64; x64; rv:109(?-s:.)0) Gecko/20100101 Firefox/114(?-s:.)0|cors|keep-alive|http://localhost:8080/|(?:en-US,en;q=0(?-s:.)5)?
    method: (?:GET)?
    description: ""
    meta: ""
/flasgger_static/swagger-ui.css:
    body: (?:)
    headers:
        key: Connection|Accept(?:-Language|(?:-Encoding)?)|Sec-Fetch-(?:(?:Sit|Mod)e|Dest)|Referer|(?:User-Agent)?
        value: keep-alive|en-US,en;q=0(?-s:.)5|text/css,*/*;q=0(?-s:.)1|s(?:ame-origin|tyle)|no-cors|http://localhost:8080/|gzip, deflate, br|(?:Mozilla/5(?-s:.)0 (Windows NT 10(?-s:.)0; Win64; x64; rv:109(?-s:.)0) Gecko/20100101 Firefox/114(?-s:.)0)?
    method: (?:GET)?
    description: ""
    meta: ""
/post:
    body: (?:)
    headers:
        key: Content-Length|Sec-Fetch-Dest|(?:Origi|Connectio)n|Accept(?:-Encoding)?|(?:Sec-Fetch-(?:Sit|Mod)|Accept-Languag)e|Referer|(?:User-Agent)?
        value: 0|e(?:mpty|n-US,en;q=0(?-s:.)5)|http://localhost:8080/?|gzip, deflate, br|(?:application/jso|same-origi)n|cors|keep-alive|(?:Mozilla/5(?-s:.)0 (Windows NT 10(?-s:.)0; Win64; x64; rv:109(?-s:.)0) Gecko/20100101 Firefox/114(?-s:.)0)?
    method: (?:POST)?
    description: ""
    meta: ""
/put:
    body: (?:)
    headers:
        key: Content-Length|Sec-Fetch-(?:(?:Sit|Mod)e|Dest)|Referer|Accept-(?:Encoding|Language)|User-Agent|(?:Connectio|Origi)n|(?:Accept)?
        value: (?:Mozilla/5(?-s:.)0 (Windows NT 10(?-s:.)0; Win64; x64; rv:109(?-s:.)0) Gecko/20100101 Firefox/114(?-s:.)|http://localhost:808)?0|same-origin|http://localhost:8080/|gzip, deflate, br|e(?:n-US,en;q=0(?-s:.)5|mpty)|cors|keep-alive|(?:application/json)?
    method: (?:PUT)?
    description: ""
    meta: ""
/spec.json:
    body: (?:)
    headers:
        key: Accept(?:-Encoding)?|User-Agent|Sec-Fetch-(?:(?:Sit|Mod)e|Dest)|Connection|Referer|(?:Accept-Language)?
        value: ""
    method: (?:GET)?
    description: ""
    meta: ""
